<template>
  <div class="page">
    <h2>首页</h2>
    <p>欢迎来到首页！</p>
    <p>这是使用 An Frame CLI 创建的 Vue {{vueVersion}} 项目{{#if typescript}}，使用了 TypeScript{{/if}}{{#if router}}，集成了 Vue Router{{/if}}。</p>
    
    <div class="counter">
      <button @click="decrement">-</button>
      <span>计数: {{ count }}</span>
      <button @click="increment">+</button>
    </div>
    
    <h3>项目特性</h3>
    <ul>
      <li>Vue {{vueVersion}}</li>
      {{#if typescript}}<li>TypeScript 支持</li>{{/if}}
      {{#if router}}<li>Vue Router 路由</li>{{/if}}
      <li>Webpack 5 构建</li>
      <li>ESLint 代码检查</li>
      <li>热重载开发</li>
    </ul>
  </div>
</template>

<script{{#if typescript}} lang="ts"{{/if}}>
{{#if (eq vueVersion "3")}}
{{#if typescript}}
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'Home',
  setup() {
    const count = ref(0)
    
    const increment = () => {
      count.value++
    }
    
    const decrement = () => {
      count.value--
    }
    
    return {
      count,
      increment,
      decrement
    }
  }
})
{{else}}
import { ref } from 'vue'

export default {
  name: 'Home',
  setup() {
    const count = ref(0)
    
    const increment = () => {
      count.value++
    }
    
    const decrement = () => {
      count.value--
    }
    
    return {
      count,
      increment,
      decrement
    }
  }
}
{{/if}}
{{else}}
export default {
  name: 'Home',
  data() {
    return {
      count: 0
    }
  },
  methods: {
    increment() {
      this.count++
    },
    decrement() {
      this.count--
    }
  }
}
{{/if}}
</script>

<style scoped>
h2 {
  color: #42b883;
  margin-bottom: 1rem;
}

ul {
  text-align: left;
  margin: 1rem 0;
}

li {
  margin: 0.5rem 0;
}
</style>