import React{{#if typescript}}, { useState }{{/if}} from 'react';
{{#if router}}
import { Routes, Route, Link } from 'react-router-dom';
import Home from './pages/Home';
import About from './pages/About';
{{/if}}
import './styles/App.{{#if typescript}}scss{{else}}css{{/if}}';

{{#if typescript}}
const App: React.FC = () => {
{{else}}
function App() {
{{/if}}
{{#if typescript}}
  const [count, setCount] = useState<number>(0);
{{else}}
  const [count, setCount] = React.useState(0);
{{/if}}

  return (
    <div className="App">
      <header className="App-header">
        <h1>欢迎使用 An Frame CLI</h1>
        <p>这是一个基于 React {{reactVersion}} 的项目{{#if typescript}}，使用 TypeScript{{/if}}{{#if router}}，集成了 React Router{{/if}}</p>
        
        <div className="counter">
          <button onClick={() => setCount(count - 1)}>-</button>
          <span>计数: {count}</span>
          <button onClick={() => setCount(count + 1)}>+</button>
        </div>

        {{#if router}}
        <nav className="navigation">
          <Link to="/">首页</Link>
          <Link to="/about">关于</Link>
        </nav>

        <main className="main-content">
          <Routes>
            <Route path="/" element={<Home />} />
            <Route path="/about" element={<About />} />
          </Routes>
        </main>
        {{/if}}
      </header>
    </div>
  );
{{#if typescript}}
};
{{else}}
}
{{/if}}

export default App;